/build
*.bak
*.dof
*.dsk
*.out
*.gb
*.cfg
*.map
*.sym
tilemapstudio.exe
/unused.py
/gfx/tiles/minimize.exe
/gfx/tiles/rlecompress.exe
/gfx/tiles/compress_tiles.exe
/gfx/tiles/bin2txt.exe
/gfx/items/compress_tiles.exe
/gfx/items/minimize.exe
/gfx/temp
